[dirs]
watch_dir = /opt/atol/export_catalog
trans_dir = /opt/atol/import_receipts
csv_dir = /opt/ftd/trans
log_dir = /opt/ftd/logs
archive_dir = /opt/atol/archive

[PG]
pg_srv = vm-pg-devel.arc.world
user_name = arc_energo
